NODE_ENV=development

POSTGRES_DATA=/data/postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=request-test
POSTGRES_URL=localhost
POSTGRES_DB_PORT=5430

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

RABBITMQ_USER=root
RABBITMQ_PASSWORD=root
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://root:root@localhost:5672